

@layer base {
  body {
    font-family: 'Agbalumo', sans-serif;
    background-color: #16171b;
    background-image: url('../src//images/img3.png'); /* Adjust path to point to the 'images' folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;