[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
channels = "==3.0.5"
channels-redis = "*"
environ = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.12"
