[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
channels = "==3.0.5"
channels-redis = "*"
environ = "*"
django-allauth = "*"
haversine = "*"
django = "*"
asgiref = "*"
django-environ = "*"
requests = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
